<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72489251126-qghh480c85svn08tu3vhrb600rcklmhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72489251126-qghh480c85svn08tu3vhrb600rcklmhh</string>
	<key>API_KEY</key>
	<string>AIzaSyAcsJcqc7lH30ASOxO50sJxjIs7pkRWxoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>72489251126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafedential</string>
	<key>PROJECT_ID</key>
	<string>cafedential</string>
	<key>STORAGE_BUCKET</key>
	<string>cafedential.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72489251126:ios:7a79ea1f88939ec970c397</string>
</dict>
</plist>